    <script src="{{ url_for('static', filename='code_editor/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/fold/foldcode.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/fold/foldgutter.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/fold/indent-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/fold/comment-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/dialog/dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/search/search.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/search/searchcursor.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/addon/search/jump-to-line.js') }}"></script>
    <script src="{{ url_for('static', filename='code_editor/editor.js') }}"></script>
